body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Style for the button */
#showProjectsButton {
    display: block;
    margin: 0 auto;
}

/* Style for the projects container */
#projectsContainer {
    text-align: center; /* Center the content horizontally */
    margin: 50px auto; /* Add margin for better spacing and center vertically */
    max-width: 600px; /* Set a maximum width to prevent the container from stretching too wide */
}

/* Style for individual project items */
#projectsContainer div {
    margin-bottom: 20px; /* Add margin between project items for better spacing */
    border: 1px solid #ccc; /* Add a border for visual separation */
    padding: 10px; /* Add padding for better visual appearance */
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 40px 0;
}

section {
    margin: 40px 0;
}

h2 {
    color: #333;
}

.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.headshot {
    display: block;
    width: 25%;
    max-width: 200px;
    border-radius: 50%;
    margin: 20px auto;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    display: inline-block;
    margin-right: 10px;
}

.social-media img {
    width: 40px;
    height: 40px;
    border-radius: 50;
}

.social-media img:hover {
        width: 50px;
        height: 50px;
        border-radius: 50;
}