body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#showProjectsButton {
    display: block;
    margin: 0 auto;
}

#projectsContainer {
    text-align: center;
    margin: 50px auto;
    max-width: 600px; 
}

#projectsContainer div {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 40px 0;
}

section {
    margin: 40px 0;
}

h2 {
    color: #333;
}

.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.headshot {
    display: block;
    width: 25%;
    max-width: 200px;
    border-radius: 50%;
    margin: 20px auto;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    display: inline-block;
    margin-right: 10px;
}

.social-media img {
    width: 40px;
    height: 40px;
    border-radius: 50;
}

.social-media img:hover {
        width: 50px;
        height: 50px;
        border-radius: 50;
}